<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script src="/js/jquery-3.5.1.min.js"></script>

<script type="text/javascript">

var ACCESS_TOKEN = "";

$(document).ready(function() {

	$("#loginBtn").on("click", function() {
		var userId = $("#userId");
		var password = $("#password");
		var userIdVal = userId.val();
		var passwordVal = password.val();
		 	 
		$.ajax({
			type : "POST",
			url : "user/login?username=" + userIdVal + "&password=" + passwordVal,
			success: function(data, textStatus, xhr){
				var responseHeader = xhr.getResponseHeader('Authorization');
				var status = xhr.getResponseHeader('message');
		        alert(responseHeader);
		        console.log(status);
		        
		        ACCESS_TOKEN = responseHeader.substr(7);
		        
		        console.log(ACCESS_TOKEN);
		        console.log(JSON.stringify(xhr));
			},
			error: function (xhr, textStatus, errorThrown) {
		        alert(xhr.getResponseHeader('Authorization'));
		        var json = JSON.stringify(xhr);
		        var status = xhr.getResponseHeader('error');
		        console.log(json);
		        console.log(JSON.stringify(xhr));
			}
		});
	});		
	
	$("#boardListBtn").on("click", function() {
		$.ajax({
			type : "GET",
			url : "/boards",
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});	
	
	$("#boardRegisterBtn").on("click", function() {
		$.ajax({
			type : "POST",
			url : "/boards",
			contentType : "application/json; charset=UTF-8",
			headers : {
				"Authorization" : "Bearer " + ACCESS_TOKEN
			},
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});	
	
	$("#boardReadBtn").on("click", function() {
		var boardNo = 10;
		 
		$.ajax({
			type : "GET",
			url : "/boards/" + boardNo,
			contentType : "application/json; charset=UTF-8",
			headers : {
				"Authorization" : "Bearer " + ACCESS_TOKEN
			},
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});	
	
	$("#boardModifyBtn").on("click", function() {
		var boardNo = 10;
		 
		$.ajax({
			type : "PUT",
			url : "/boards/" + boardNo,
			contentType : "application/json; charset=UTF-8",
			headers : {
				"Authorization" : "Bearer " + ACCESS_TOKEN
			},
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});		
  
	$("#noticeListBtn").on("click", function() {
		$.ajax({
			type : "GET",
			url : "/notices",
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});	
	
	$("#noticeRegisterBtn").on("click", function() {
		$.ajax({
			type : "POST",
			url : "/notices",
			contentType : "application/json; charset=UTF-8",
			headers : {
				"Authorization" : "Bearer " + ACCESS_TOKEN
			},
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(xhr, status, error) {
				alert("code:" + xhr.status + "\n"
					+ "message:" + xhr.responseText + "\n"
					+ "error:" + error);
			}
		});
	});	

});
</script>

<body>
	<h3>Login</h3>
	<table>
		<tr>
			<td><label for="userId">userId</label></td>
			<td><input type="text" value="bourzua@naver.com" id="userId"></td>
		</tr>
		<tr>
			<td><label for="password">password</label></td>
			<td><input type="text" value="1234" id="password"></td>
		</tr>
	</table>	
	
	<div>
		<button id="loginBtn">LOGIN</button>
	</div>
	
	<hr>
	
	<h3>Board</h3>
	
	<div>
		<button id="boardListBtn">LIST</button>
		<button id="boardRegisterBtn">REGISTER</button>
		<button id="boardReadBtn">READ</button>
		<button id="boardModifyBtn">MODIFY</button>
	</div>
	
	<hr>
	
	<h3>Notice</h3>
	
	<div>
		<button id="noticeListBtn">LIST</button>
		<button id="noticeRegisterBtn">REGISTER</button>
	</div>

</body>
</html>
