<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
</head>
<script src="/js/jquery-3.5.1.min.js"></script>
<script>
	
	$(document).ready(function() {
		// id 선택자 : $('#[id]')
		var form = $('#form');
		
		// 등록 버튼 클릭 이벤트
		$("#btnRegister").on('click', function() {
			form.attr("action", "/board/register");
			form.attr("method", "post");
			form.submit();
		});
		
		
		// 목록 버튼 클릭 이벤트 
		$("#btnList").on('click', function() {
			location.href = "/board/list";
		});
		
		
		
		
		
	});
	
	

</script>
<body>
	<h2>글 쓰기</h2>
	<form id="form" th:action="@{register}" method="post">
		<table>
			<tr>
			 	<td>제목</td>
			 	<td><input type="text" name="title" /></td>
			</tr>		
			<tr>
			 	<td>작성자</td>
			 	<td><input type="text" name="writer" /></td>
			</tr>		
			<tr>
			 	<td>내용</td>
			 	<td><textarea name="content" rows="20" cols="80"></textarea></td>
			</tr>		
		</table>
	</form>
	<div>
		<button type="button" id="btnRegister">등록</button>
		<button type="button" id="btnList">목록</button>
	</div>
	
</body>
</html>