<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Board</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
   <form id="board" action="success.html" th:action="@{search}" th:object="${board}" method="post">
   
      <a href="register.html" th:href="@{register}">글쓰기</a>
      Keyword : <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" name="keyword" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-outline-danger">검색</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

      <table class="table table-hover" border="1">
         <tr>
            <th align="center" width="80">번호</th>
            <th align="center" width="320">제목</th>
            <th align="center" width="100">작성자</th>
            <th align="center" width="180">등록일자</th>
         </tr>
         
         <tr th:if="${#lists.isEmpty(list)}">
            <td align="center" colspan="4">
               	조회된 데이터가 없습니다.
            </td>
         </tr>
         
         <tr th:each="board : ${list}">
            <td align="center" th:text="${board.boardNo}"></td>
            <td align="left"><a href="read.html" th:href="@{|/board/read?boardNo=${board.boardNo}|}" th:text="${board.title}"></a></td>                                           
            <td align="right" th:text="${board.writer}"></td>
            <td align="center" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
         </tr>
         
      </table>
   </form>

</body>
</html>





